.xlModal > .modal-dialog {
  max-width: 1490px !important;
  min-width: 971px !important;
  width: 95% !important;
}
.hoverPointer:hover{
  cursor: pointer;
}
.btn-circle {
  width: 25px;
  height: 25px;
  padding: 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
  line-height: 1.42857;
}

.pStyleInput{
  height: 35px;
  background-color: rgb(233, 236, 239);
  border: 1px solid rgb(222, 226, 230);
  border-radius: 4px;
  margin-bottom: 3px;
  font-size: 15px;
  text-align: left;
  padding-left: 10px;
  padding-top: 7px;
}
